nav.pagination
    button.pagination__prev-button.pagination__prev-button--hidden
    button.pagination__page.pagination__page--active 01
    button.pagination__page 02
    button.pagination__page 03
    button.pagination__page 04
    button.pagination__page 05
    button.pagination__next-button