div.header
    div.header__wrapper
        div.header__navigation
            a.header__logo(href='#')
                svg(class='icon--logo')
                    use(xlink:href='#logo', id='logo')
            include ../../navigation/pug/navigation.pug
        include ../../slider/pug/slider.pug