button.navigation__toggle-button
    span.navigation__hamburger
nav.navigation
    a.navigation__link(href='#') home
    a.navigation__link(href='#') shop
    a.navigation__link(href='#') journal
    a.navigation__link(href='#') elements
    a.navigation__link(href='#') pages
a.navigation__cart(href='#')
    span.navigation__cart-number 2
    svg(class='icon--bag')
        use(xlink:href='#bag', id='bag')