div.footer
    div.footer__wrapper
        p.footer__copyright &copy; 2017 Maison. All rights reserved
        nav.footer__navigation
            a(href='#').footer__link Shop
            a(href='#').footer__link Journal
            a(href='#').footer__link About Us
            a(href='#').footer__link Contact
