div.categories
    button.categories__toggle-button Categories
    div.categories__wrapper
        h3.categories__title Categories
        a(href='#').categories__category All products
            span.categories__count 27
        a(href='#').categories__category Living
            span.categories__count 14
        a(href='#').categories__category Dining
            span.categories__count 03
        a(href='#').categories__category Furniture
            span.categories__count 07
        a(href='#').categories__category Lighting
            span.categories__count 12
        a(href='#').categories__category Technics
            span.categories__count 10
        a(href='#').categories__category Accessories
            span.categories__count 21