div.slider
    div.slider__text
        h2.slider__title Sky Planet
        a.slider__link(href='#') Shop now
    button.slider__button--prev
        svg(class='icon--arrow-next')
            use(xlink:href='#arrow_next', id='arrow_next')
    div.slider__wrapper.slider__wrapper--no-delay
        div.slider__slide
            img.slider__image(src='images/1.png')
        div.slider__slide
            img.slider__image(src='images/1.png')
        div.slider__slide
            img.slider__image(src='images/2.png')
    button.slider__button--next
        svg(class='icon--arrow-next')
            use(xlink:href='#arrow_next', id='arrow_next')
    p.slider__number
    div.slider__circles
