div.subscribe
    div.subscribe__wrapper
        h3.subscribe__title Get Discount 35% off
        form.subscribe__form
            input.subscribe__input(type='email', placeholder='Enter your email...')
            button(type='submit').subscribe__submit-button Send