@import "variables.scss";

@mixin margin-auto {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1170px) {
    margin-left: $margin-size;
    margin-right: $margin-size;
  }
}
